# Local env
.env

# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.venv/
venv/

# Local pipeline artifacts
local_pipeline/out/*
!local_pipeline/out/.gitkeep

local_pipeline/in/*
!local_pipeline/in/.gitkeep

# Test artifacts
tests/reports/*
!tests/reports/.gitkeep

tests/perf_artifacts/

# Output directory
/out/**

# OS junk
.DS_Store

# VSCode junk
.vscode/